<h2>Courses</h2>

<section>

    <ul>
        {{#if studentId}}

            {{#courses}}
                <li><a href='#/students/{{../studentId}}/courses/{{id}}/exercises'>{{name}}</a></li>
            {{/courses}}

        {{else}}

            {{#courses}}
                <li><a href='#/courses/{{id}}/exercises'>{{name}}</a></li>
            {{/courses}}

        {{/if}}
    </ul>

</section>
