<h2>Courses</h2>

<section>

    <ul>
        {{#courses}}

            {{#if ../studentId}}
                <li><a href='#/students/{{../studentId}}/courses/{{id}}/exercises'>{{name}}</a></li>
            {{else}}
                <li><a href='#/courses/{{id}}/exercises'>{{name}}</a></li>
            {{/if}}

        {{/courses}}
    </ul>

</section>
