<section>

    <ul>
        {{#list}}
            <li><a href='#/students/{{../studentId}}/courses/{{../courseId}}/exercises/{{id}}/snapshots'>{{name}}</a></li>
        {{/list}}
    </ul>

</section>
