<i id="settingsModalButton" class="icon-wrench icon-gray pull-left" title="Change Code Browser settings"></i>

<p>Open source project by the Department of Computer Science, University of Helsinki - <a href="http://github.com/codebrowser/web-client" target="_blank">View source on GitHub</a></p>
