<header>

    <i class='icon-folder-close icon-gray'></i> <h1>{{exercise.name}}</h1>

</header>

<ul>
    {{#files}}
        <li><a href='#/students/{{../studentId}}/courses/{{../courseId}}/exercises/{{../exerciseId}}/snapshots/{{../id}}/files/{{id}}'><i class='icon-file icon-gray'></i> {{name}}</a></li>
    {{/files}}
</ul>
