/* Fonts */

@font-face {

    font-family: 'LiberationMono';
    src: url('../font/liberation-mono/LiberationMono-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'LiberationMono';
    src: url('../font/liberation-mono/LiberationMono-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {

    font-family: 'LiberationMono';
    src: url('../font/liberation-mono/LiberationMono-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {

    font-family: 'LiberationMono';
    src: url('../font/liberation-mono/LiberationMono-BoldItalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

/* Icons */

.icon-gray {

    opacity: 0.5;

}

.icon-split-editor {

    background-image: url('../img/split-view.png');
    background-position: center;

}

.icon-diff {

    background-image: url('../img/diff.png');
    background-position: center;

}

.icon-settings {

    background-image: url('../img/settings.png');
    background-position: center;

}

/* Responsiveness */

@media screen and (min-width: 1200px) {

    .container {

        width: 1000px;

    }

}

@media screen and (min-width: 1400px) {

    .container {

        width: 1200px;

    }

}

@media screen and (min-width: 1600px) {

    .container {

        width: 1400px;

    }

}

@media screen and (min-width: 1800px) {

    .container {

        width: 1600px;

    }

}

/* Popover */

.popover-title time {

    display: block;

}

.popover-content .dl-horizontal dt {

    width: auto;

}

.popover-content .dl-horizontal dd {

    margin-left: 100px;

}

/* Container */

#container {

    margin: 20px 0;

}

/* Snapshots timeline */

#snapshots-timeline-container {

    margin: 25px auto;
    padding: 15px;
    border: 1px solid #c5d6de;
    border-radius: 4px;
    font-size: 12px;
    line-height: normal;
    color: #6d8089;

}

#snapshots-timeline-container .row {

    margin-top: 10px;

}

#snapshots-timeline-container .center {

    position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    font-weight: bold;

}

#snapshots-timeline-container text {

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px !important;
    fill: #6d8089;

}

#snapshots-timeline-container .area {

    stroke-width: 0;
    fill: #fff;
    fill-opacity: 0;

}

#snapshots-timeline-container .timeline {

    stroke-width: 3px;
    stroke: #c5d6de;

}

#snapshots-timeline-container .snapshot-index {

    fill: #97b2c0;
    font-size: 11px !important;

}

#snapshots-timeline-container .snapshot {

    stroke: #53666f;
    fill: #fff;
    cursor: pointer;

}

#snapshots-timeline-container .snapshot:hover {

    fill: #7995a2;

}

#snapshots-timeline-container .area.pointer {

    cursor: move;

}

#snapshots-timeline-container .pointer {

    stroke: #4e585e;
    fill: #4e585e;

}

#snapshots-timeline-container .pointer-line {

    stroke-width: 1px;
    stroke: #c5d6de;

}

/* Snapshot */

#navigation-container {

    height: 30px;

}

#navigation-container .text-center {

    line-height: 30px;

}

/* Editor */

#editor-container {

    margin: 10px 0;

}

#editor-container header {

    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 0 0;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 12px;
    text-shadow: 0 1px 0 white;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.6);

}

#editor-container header h1 {

    display: inline;
    margin: 0;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;

}

#settings-container footer {

    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 12px;
    text-shadow: 0 1px 0 white;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.6);

}

#settings-container p {

    display: inline;
    margin: 0;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    visibility: hidden;

}

#editor {

    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 0;
    border-radius: 0 0 4px 4px;

}

#editor .insert {

    position: absolute;
    box-shadow: 0 0 0 1px rgba(154, 247, 122, 0.8) inset;
    background-color: rgba(154, 247, 122, 0.6);

}

#editor .replace {

    position: absolute;
    box-shadow: 0 0 0 1px rgba(150, 206, 245, 0.8) inset;
    background-color: rgba(150, 206, 245, 0.6);

}

#editor .delete {

    position: absolute;
    box-shadow: 0 0 0 1px rgba(250, 130, 130, 0.8) inset;
    background-color: rgba(250, 130, 130, 0.6);

}

#editor .decoration {

    margin-left: -30%;

}

#editor .decoration:before {

    display: inline-block;
    float: left;
    font-weight: bold;
    color: #555555;

}

#editor .decoration.gutter-insert {

    background-color: rgba(154, 247, 122, 0.6);

}

#editor .decoration.gutter-insert:before {

    content: '+';

}

#editor .decoration.gutter-replace {

    background-color: rgba(150, 206, 245, 0.6);

}

#editor .decoration.gutter-replace:before {

    content: '.';

}

#editor .decoration.gutter-delete {

    background-color: rgba(250, 130, 130, 0.6);

}

#editor .decoration.gutter-delete:before {

    content: '-';

}
