/* Fonts */

@font-face {

    font-family: 'LiberationMono';
    src: url('../font/liberation-mono/LiberationMono-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'LiberationMono';
    src: url('../font/liberation-mono/LiberationMono-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {

    font-family: 'LiberationMono';
    src: url('../font/liberation-mono/LiberationMono-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {

    font-family: 'LiberationMono';
    src: url('../font/liberation-mono/LiberationMono-BoldItalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

/* Icons */

.icon-gray {

    opacity: 0.5;

}

a .icon-gray:hover {

    opacity: 0.8;

}

.icon-folder {

    background-image: url('../img/folder.png');
    background-position: center;

}

.icon-split-editor {

    background-image: url('../img/split-view.png');
    background-position: center;

}

.icon-diff {

    background-image: url('../img/diff.png');
    background-position: center;

}

/* Responsiveness - Width */

@media screen and (min-width: 1200px) {

    .container {

        width: 1000px;

    }
}

@media screen and (min-width: 1400px) {

    .container {

        width: 1200px;

    }
}

@media screen and (min-width: 1600px) {

    .container {

        width: 1400px;

    }
}

@media screen and (min-width: 1800px) {

    .container {

        width: 1600px;

    }
}

/* Responsiveness - Height */

@media screen and (max-height: 600px) {

    #side-editor, #main-editor {

        height: 600px !important;

    }
}

/* Forms */

.control-group .checkbox {

    padding: 0;

}

.control-group .checkbox input {

    margin-left: 148px;
    margin-right: 20px;

}

/* Popover */

.popover-title time {

    display: block;

}

.popover-content .dl-horizontal dt {

    width: auto;

}

.popover-content .dl-horizontal dd {

    margin-left: 100px;

}

/* Brand */

#brand {

    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);

}

/* Snapshots timeline */

#snapshots-timeline-container {

    margin: 25px auto;
    padding: 15px;
    border: 1px solid #c5d6de;
    border-radius: 4px;
    font-size: 12px;
    line-height: normal;
    color: #6d8089;

}

#snapshots-timeline-container .row {

    margin-top: 10px;

}

#snapshots-timeline-container .center {

    position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    font-weight: bold;

}

#snapshots-timeline-container text {

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px !important;
    fill: #6d8089;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;

}

#snapshots-timeline-container .area {

    stroke-width: 0;
    fill: #fff;
    fill-opacity: 0;

}

#snapshots-timeline-container .timeline {

    stroke-width: 3px;
    stroke: #c5d6de;

}

#snapshots-timeline-container .snapshot-weight {

    stroke-width: 2px;
    font-size: 11px !important;

}

#snapshots-timeline-container .snapshot-index {

    fill: #97b2c0;
    font-size: 11px !important;

}

#snapshots-timeline-container .area.snapshot {

    cursor: pointer;

}

#snapshots-timeline-container .snapshot {

    stroke: #53666f;
    fill: #fff;

}

#snapshots-timeline-container .area.pointer {

    cursor: move;

}

#snapshots-timeline-container .pointer {

    stroke: #4e585e;
    fill: #4e585e;

}

#snapshots-timeline-container .pointer-line {

    stroke-width: 1px;
    stroke: #c5d6de;

}

/* Snapshot */

#snapshot-navigation-container {

    height: 30px;

}

#snapshot-navigation-container .text-center {

    line-height: 30px;

}

/* Snapshot files */

#snapshot-files-container {

    float: left;
    padding: 0 10px 10px 10px;
    width: 200px;
    border-top: 4px solid rgba(0, 0, 0, 0.1);

}

#snapshot-files-container header {

    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;

}

#snapshot-files-container header h1 {

    display: inline;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;

}

#snapshot-files-container ul {

    margin: 0;
    list-style: none;

}

#snapshot-files-container ul li {

    border-left: 5px solid #fff;
    margin: 2px 0;
    padding: 2px 0;
    white-space: nowrap;
    overflow: hidden;

}

#snapshot-files-container ul li.new {

    border-radius: 2px;
    border-color: rgba(154, 247, 122, 0.6) !important;
    background-color: rgba(154, 247, 122, 0.6);

}

#snapshot-files-container ul li.new:hover {

    border-radius: 2px;
    background-color: rgba(154, 247, 122, 0.7);

}

#snapshot-files-container ul li.modified {

    border-radius: 2px;
    border-color: rgba(150, 206, 245, 0.6) !important;
    background-color: rgba(150, 206, 245, 0.6);

}

#snapshot-files-container ul li.modified:hover {

    border-radius: 2px;
    background-color: rgba(150, 206, 245, 0.7);

}

#snapshot-files-container ul li.active {

    border-radius: 2px;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);

}

#snapshot-files-container ul li.active:hover {

    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);

}

#snapshot-files-container ul li a {

    display: inline-block;
    margin-left: -5px;
    padding: 0 0 0 10px;
    width: 190px;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;

}

/* Editor */

#side-editor, #main-editor {

    height: 800px;

}

#editor-container {

    margin: 10px 0;

}

#editor-top-container header {

    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 0 0;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 12px;
    text-shadow: 0 1px 0 white;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.6);

}

#editor-top-container header h1 {

    display: inline;
    margin: 0;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;

}

#editor {

    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 0;
    border-bottom: 0;

}

#editor .insert {

    position: absolute;
    box-shadow: 0 0 0 1px rgba(154, 247, 122, 0.8) inset;
    background-color: rgba(154, 247, 122, 0.6);

}

#editor .replace {

    position: absolute;
    box-shadow: 0 0 0 1px rgba(150, 206, 245, 0.8) inset;
    background-color: rgba(150, 206, 245, 0.6);

}

#editor .delete {

    position: absolute;
    box-shadow: 0 0 0 1px rgba(250, 130, 130, 0.8) inset;
    background-color: rgba(250, 130, 130, 0.6);

}

#editor .decoration {

    margin-left: -30%;

}

#editor .decoration:before {

    display: inline-block;
    float: left;
    font-weight: bold;
    color: #555555;

}

#editor .decoration.gutter-insert {

    background-color: rgba(154, 247, 122, 0.6);

}

#editor .decoration.gutter-insert:before {

    content: '+';

}

#editor .decoration.gutter-replace {

    background-color: rgba(150, 206, 245, 0.6);

}

#editor .decoration.gutter-replace:before {

    content: '.';

}

#editor .decoration.gutter-delete {

    background-color: rgba(250, 130, 130, 0.6);

}

#editor .decoration.gutter-delete:before {

    content: '-';

}

/* Editor settings */

#editor-settings-container {

    padding: 2px 5px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    background-color: rgba(0, 0, 0, 0.05);

}

#editor-settings header h1 {

    font-size: 18px;
    line-height: normal;

}

#editor-settings header .close {

    line-height: 16px;

}
